<h1 class="title-index">MES RESERVATIONS</h1>


<div class="container_my_cars">

  <div class="container_my_car">

    <h2>Mes demandes de location ❤️ </h2>

    <div class="cards_my_cars">

    <% @bookings_i_want.each do |booking| %>
      <div class="item my_cars">
      <%= cl_image_tag booking.car.photos[0].key, crop: :fill %>
        <div class="item-text">
          <div class="item-text-wrapper">
            <p class="item-text-dek"><%= "#{booking.car.brand} #{booking.car.model}" %></p>
            <h2 class="item-text-title"><%= "Du #{booking.start_date} au #{booking.end_date}" %></h2>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<div class="container_my_cars">
  <div class="container_my_car">
    <h2>Mes voitures en location 💲 </h2>
    <div class="cards_my_cars">
        <div class="layout_my_cars">
          <% @my_cars.each do |car| %>
            <% if car.bookings != [] %>
              <% car.bookings.each do |booking| %>
              <div class="my_cars <% if booking.status == "Accept"%>car-accepted <% elsif booking.status == "Decline"%>car-declined <%end%>">
                <%= cl_image_tag car.photos[0].key, crop: :fill %>
                <%= link_to car.brand, car_path(car), class: "link_to" %>
              </div>
                <p class="demand"><%= booking.user.name %> <%= booking.status %> <%= link_to "Accept", accept_path(booking), method: :patch, class:"btn_booking" %><%= link_to "Decline", decline_path(booking), method: :patch, class:"btn_booking" %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
