<div class="header">
    <%= link_to(image_tag("logo.png", alt: "logo du wagon", class:"logo"), root_path) %>
    <nav>
      <ul class="nav-content">
        <li><%= link_to('Louer', cars_path) %></li>
        <% if current_user != nil %>
          <li><%= link_to('Mettre en location', new_car_path)  %></li>
          <li><%= link_to('Mes Voitures', allmycars_path)  %></li>
          <li><%= link_to('Mes Réservations', allmybookings_path)  %></li>
        <% else %>
        <li><%= link_to('Devenir membre', new_user_registration_path)  %> </li>
        <% end %>
      </ul>
    </nav>
    <% if current_user == nil %>
      <%= link_to "Login", new_user_session_path , class: "btn-login"%>
    <% else %>
      <%= link_to "Log-Out", destroy_user_session_path , method: :delete, class: "btn-login"%>
    <% end %>
</div >
