<%= simple_form_for(@car) do |f| %>
  <div class = "col-6 ">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>
  <div class = "col-6 ">
    <%= f.label :price_per_day %>
    <%= f.number_field :price_per_day %>
  </div>
  <div class = "col-6 ">
    <%= f.label :immatriculation %>
    <%= f.text_field :immatriculation %>
  </div>
  <div class = "col-6 ">
    <%= f.label :localisation %>
    <%= f.text_field :localisation %>
  </div>
  <div class = "col-6 ">
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
  <%= f.button :submit, class: "btn btn-primary m-4"%>

<% end %>
