<div class="banner" style="height: 50vh;">
  <div class="swiper myFlipSwiper" style="width: 50vw; height: 40vh;">
    <div class="swiper-wrapper">
      <% @car.photos.each do |photo| %>
        <div class="swiper-slide">
          <%= cl_image_tag photo.key, crop: :fill %>
        </div>
      <% end %>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>
  <div class="container">
    <% if current_user != nil %>
      <% if @car.user_id == current_user.id %>
        <div class="btn btn-danger">
          <td><%= link_to('Destroy', car_path, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
        </div>
      <% end %>
    <% end %>
  </div>

<div class="show_layout">

  <div class="custom-container" >
      <h2><%= "#{@car.brand} #{@car.model}" %></h2>
      <p><%= @car.details %></p>
      <ul class="ul-style">
        <li><i class="fas fa-map"></i> <%= @car.localisation %></li>
        <li><i class="fas fa-car-side"></i> <%= @car.immatriculation %></li>
        <li><i class="fas fa-euro-sign"></i> <%= @car.price_per_day %></li>
      </ul>
  </div>

  <div class="calendar">
    <div class="container">
      <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <h2>Book a Car</h2>
        <%= simple_form_for [@car, @booking] do |f| %>
          <%= f.input :start_date, label: "Sélectionnez vos dates:",
                                  as: :string,
                                  required: false,
                                  input_html: { id: "range_start", class: "d-none" } %>
          <%= f.input :end_date, label: false,
                                as: :string,
                                required: false,
                                input_html: { id: "range_end", class: "d-none" } %>
          <%= f.button :submit, "Book", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div id="booking-form-div"
        data-bookings="<%= @bookings_dates.to_json %>">
    </div>
  </div>

</div>
